
/*reset*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto','sans-serif';
    box-sizing: border-box;
}
/*declaração das variaveis para cores*/
:root {
    --cor-principal: darkcyan;
    --cor-texto-principal:black;
    --border-color:gray;
    --cor-lateral:turquoise;
    --cor-borda-lateral:darkcyan;
    --cor-central:lightseagreen;
}
/*geral*/
.brilho_verde {
    color:var(--cor-principal);

}
#b {
    font-weight: bold;
}

#principal {
    display: flex;
    flex-direction: row;
    color:var(--cor-texto-principal);
}

#lateral {
    flex:1 1 20%;
    min-height: 100vh;
    background-color: var(--cor-lateral);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--cor-borda-lateral);
}
#lateral img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
}


#central{
    flex:1 1 80%;
    min-height: 100vh;
    background-color: var(--cor-central);
    padding: 50px;
}
#lateral h2 {
    margin-bottom: 25px;
}
#lateral p {
    margin-bottom: 20px;
}
#lateral #bemvindo {
    font-weight: bold;
}

#redes_sociais {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom:2px solid var(--cor-borda-lateral);
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#redes_sociais li {
    flex: 1 1 0;
    max-width: 60px;
}
#redes_sociais li a{
    color:var(--cor-principal);
    font-size: 30px;
}
#email {
    display:flex;
    justify-content: center;
}
#email ion-icon,#email a {
    flex: 1 1 0;
}

#email a {
    color: var(--cor-texto-principal);
    text-decoration: none;
    max-width: 225px;
}
#email ion-icon {
    color: var(--cor-principal);
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}
#nome {
    font-size: 42px;
    margin-bottom: 15px;
    
}
#titulo {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
}
.descricao {
    max-width: 75%;
    margin-bottom: 10px;
    text-align: justify;
}
#projetos_github {
    font-weight: bold;
    font-size: 16px;
    color:var(--cor-texto-principal);
    background-color: var(--cor-lateral);
    border:2px solid var(--cor-texto-principal);
    border-radius: 5px;
    text-decoration: none;
    transition: 1s;
    margin: 25px 0;
    padding:12px 10px;
    width: 150px;
    text-align:center;
    display: flex;
}
#projetos_github ion-icon {
    flex: 1 1 0;
    font-size: 20px;
    max-width: 20px;
}

    

#projetos_github:hover {
    background-color: transparent;
}
#habilidades {
    border-top: 1px solid var(--cor-borda-lateral);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}
#conteudo_habilidades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.box_habilidades{
    flex:1 1 33%;
    max-width: 33%;
    margin-bottom: 35px;
}
.titulo_skill {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--cor-lateral);
}
.box_habilidades i {
    font-size: 45px;
    margin-right: 10px;
}
@media(max-width:450px) 
{
    #principal {
        flex-direction: column;
    }
    #lateral {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }
    #lateral h2 {
        display: none;
    }
    #lateral p {
        max-width: 60%;
        margin: 10px auto;
    }
    #central {
        text-align: center;
        padding: 30px;
    }
    #central .descricao {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;
    }
    #projetos_github{
        margin: 20px auto;
    }
  .box_habilidades{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
}
  .box_habilidades i {
    font-size: 60px;
  }
}